.curved-loop-jacket {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

.curved-loop-svg {
    user-select: none;
    width: 100%;
    overflow: visible;
    display: block;
    font-size: 6rem;
    fill: #F2D5D5;
    /* Natuclinic Pink style */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}